@model IEnumerable<Inz_Fn.Models.CurrentStockViewModel>

<div class="container">
    <h1>Moje akcje</h1>
    <table class="table table-blue mt-5">
        <thead>
            <tr>
                <th>Symbol</th>
                <th class="hide-on-mobile">Cena zakupu</th>
                <th >Aktualna Cena</th>
                <th class="show-on-mobile">Cena / Ilość</th>
                <th>Data zakupu</th>
                <th class="hide-on-mobile">Ilość</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    <td>@stock.Stock_CIK</td>
                    <td class="hide-on-mobile">@stock.Price_per_stock.ToString("C")</td>
                    <td>@stock.curretnPrice.ToString("C")</td>
                    <td class="show-on-mobile">@stock.Price_per_stock.ToString("C") / @stock.Amount</td>
                    <td>@stock.Date.ToShortDateString()</td>
                    <td class="hide-on-mobile">@stock.Amount</td>
                    <td class="text-center">
                        <form asp-action="SellStock" method="post">
                            <input type="hidden" name="id" value="@stock.Id" />
                            <button type="submit" class="btn btn-danger">Sell</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>