@model SellStockViewModel

<div class="full-height d-flex justify-content-center flex-column">
<div class="container d-flex flex-column" style="max-width: 320px">
    <h2>Sprzedaj akcje</h2>
        <div class="d-flex"> <p class="me-1 fw-bold">Symbol: </p> @Model.StockCIK</div>
        <div class="d-flex"> <p class="me-1 fw-bold">Cena za akcje: </p> @Model.PricePerStock.ToString("C") </div>
        <div class="d-flex"> <p class="me-1 fw-bold">Data: </p> @Model.Date.ToShortDateString() </div>
        <div class="d-flex"> <p class="me-1 fw-bold">Aktualna cena:</p>  @Model.CurrentPrice.ToString("C")</div>
        <div class="d-flex"> <p class="me-1 fw-bold">Ilość: </p> @Model.Amount </div>
    <form asp-action="SellStockPerm" method="post" class="w-100">
        <input type="hidden" name="StockId" value="@Model.StockId" />
        <input type="hidden" name="CurrentPrice" value="@Model.CurrentPrice" />
        <div class="d-flex flex-column text-center">
        <label for="Amount">Ile akcji sprzedajesz?</label>
        <input class="search-input mt-2" type="number" id="Amount" name="Amount" max="@Model.Amount" min="1" required />
            </div>
        <button type="submit" class="mt-3 btn btn-danger w-100">Sprzedaj</button>
    </form>
</div>
</div>

