@model Inz_Fn.Models.StockTickersViewModel




@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Ticker
            </th>
            <th>
                Close Price

            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTickers.FirstOrDefault().h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTickers.FirstOrDefault().l)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTickers.FirstOrDefault().n)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTickers.FirstOrDefault().o)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StockTickers) {
        <tr>
            <td>
                    <a href="@Url.Action("TickerDetails", "Stock", new { id = item.T })">@Html.DisplayFor(modelItem => item.T)</a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.c)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.l)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.n)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @for (var i = 1; i <= Model.Pagination.TotalPages; i++)
    {
        if (i == 1 || i == Model.Pagination.TotalPages || (i <= Model.Pagination.CurrentPage + 5 && i >= Model.Pagination.CurrentPage - 5))

        {
            if (i == Model.Pagination.CurrentPage)
            {
                <span>@i</span>
            }
            else
            {
                <a href="@Url.Action("Index", "Stock", new { currentPage = i })">@i</a>
            }
        }
        
    }
</div>