@model Inz_Fn.Models.StockDataViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockData.FirstOrDefault().Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockData.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockData.FirstOrDefault().Locale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockData.FirstOrDefault().CurrencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockData.FirstOrDefault().LastUpdatedUtc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StockData)
        {
            <tr>
                <td>
                    <a href="@Url.Action("TickerDetails", "Stock", new { id = item.Ticker })">@Html.DisplayFor(modelItem => item.Ticker)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedUtc)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @for (var i = 1; i <= Model.Pagination.TotalPages; i++)
    {
        if (i == 1 || i == Model.Pagination.TotalPages || (i <= Model.Pagination.CurrentPage + 5 && i >= Model.Pagination.CurrentPage - 5))
        {
            if (i == Model.Pagination.CurrentPage)
            {
                <span>@i</span>
            }
            else
            {
                <a href="@Url.Action("Index2", "Stock", new { currentPage = i })">@i</a>
            }
        }

    }
</div>
