@model Inz_Fn.Models.TickerDetailsPrice
@{
    ViewData["Title"] = "Ticker Details";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h4>TickDetails</h4>
    <hr />
    @if (Model.tickDetails.branding != null)
    {
        <img src="@Model.tickDetails.branding.logo_url" alt="Logo" />
    }
    

    <dl class="row">
        <dt class="col-sm-2">
            Active
        </dt>
        <dd class="col-sm-10">
            @Model.tickDetails.active
        </dd>
        <dt class="col-sm-2">
            CIK
        </dt>
        <dd class="col-sm-10">
            @Model.tickDetails.cik
        </dd>
        <dt class="col-sm-2">
            Composite FIGI
        </dt>
        <dd class="col-sm-10">
            @Model.tickDetails.composite_figi
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @if (Model.tickDetails.address != null)
            {
                @Model.tickDetails.address.address1 @Model.tickDetails.address.city @Model.tickDetails.address.postal_code @Model.tickDetails.address.state
            }
            else
            {
                <p>Brak danych</p>
            }
        </dd>
        <dt class="col-sm-2">
            Cena zamknięcia 
        </dt>
        <dd class="col-sm-10">
            @Model.tickerPrevClose.c
        </dd>
        <form asp-action="PurchaseStock" method="post">
            <input type="hidden" name="Stock_CIK" value="@Model.tickDetails.ticker" />
            <input type="hidden" name="Price_per_stock" value="@Model.tickerPrevClose.c" />
            <button type="submit" class="btn btn-primary">Kup teraz</button>
        </form>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>